.App {
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  display: flex;
  background-color:rgb(37, 3, 233);
 
}
.container{
  background-color:aliceblue;
  border: none;
  width:340px;
  height:600px;
  border-radius:40px;
  padding: 40px;
  margin: 35px;
}
.content-blocked{
  color:rgb(151,160,168) ;
  font-size: large;
  padding: 5px;
}
.title-card{
  font-weight: bolder;
  font-size: x-large;
  color: rgb(151,160,168);
}
.title{
  font-weight: bolder;
  font-size:xx-large;
}
.container:hover{
  margin:2px;
}
.content{
  font-size:large ;
  padding: 5px;
}
.btn-button{
  background-color: rgb(7, 71, 168);
  width: 200px;
  border-radius: 40px;
  height: 40px;
  color: aliceblue;
  font-size: large;
}
